.canvas-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  overflow-x: visible;
}

.canvas {
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  touch-action: none; /* 防止浏览器默认的触摸行为 */
  -webkit-tap-highlight-color: transparent; /* 移除iOS上的点击高亮 */
  user-select: none; /* 防止文本选择 */
}

.hex-output-container {
  width: 100%;
  max-width: 800px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: #f8f9fa;

  span {
    display: flex;
    margin-bottom: 0.75rem;

    h3 {
      color: #333;
      font-size: 1.125rem;
    }

    .hex-byte-count {
      font-size: 0.875rem;
      color: #666;
      margin: auto 0.5rem auto;
    }
  }

  .hex-output {
    font-family: monospace;
    white-space: pre-wrap;
    word-break: break-all;
    background-color: #fff;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    max-height: 200px;
    overflow-y: auto;
    margin: 0;
  }
}
