* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'fx991cnx';
  src: url('@/fonts/fx991cnx.ttf') format('truetype');
}

html {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none !important;
}

.page-container {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;

  h1 {
    text-align: center;
    color: #333;
  }
}
